@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    padding: 0!important;
    margin: 0!important;
    font-family: 'Poppins', Arial, sans-serif !important;
    max-width: 100%!important;
}


.header{
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
}

.header-btn{
    background-color: #18191C!important;
    color: #fff!important;
    border: none!important;
    border-radius: 40px!important;
}

.dark-btn{
    background-color: #18191C!important;
    color: #fff!important;
    border: none!important;
    border-radius: 40px!important;
}

.light-btn{
    background-color: #ffffff!important;
    color: #18191C!important;
    border: none!important;
    border-radius: 40px!important;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.large-logo{
    display: none;
}

.mobile-logo{
    display: block;
}


.section-introduction{
    background-image: url(./assets/Ellipse\ 4.png);    
    min-height: 80vh;
    padding: 80px 0 200px 0;    
    background-position: bottom right;  
    background-repeat: no-repeat;
}

.section-introduction .container:first-of-type{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./assets/Ellipse\ 2827.svg);
    background-position: bottom;    
    background-size: contain;
    background-repeat: no-repeat;

}

.hero-header{
    font-size: 115px;
}

.section-introduction .hero-first-column{
    font-weight: 600;
    font-size: 24px;
    padding-right: 168px;
    display: flex;
    align-items: flex-end;
}

.section-introduction .hero-second-column{
    font-size: 24px;
    padding-right: 68px;
}
























.plan-price{
    padding: 80px 0;
}


h3{
    text-align: center;
    font-size: 80px!important;
}

.plan-sub-text{
    text-align: center;
    font-size: 18px;
    padding: 0 350px;
}

.card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px!important;
    border: none!important;
    padding: 0!important;
    border-radius: 30px!important;
}

.card-title {
    font-size: 21px!important;
}

.card-text{
    font-size: 26px;
}

.card-text small{
    font-size: 20px!important;
}


.card-header {
    background-color: #fff!important;
    border-bottom: none!important;
    border-radius: 30px 30px 0 0!important;
}

.card-footer {
    background-color: #FFF!important;
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0 0 30px 30px !important;
}

.card-body{
    color: #000000!important;
}

.card-body i{
    color: #12B76A!important;
}

.card-body .bi-check::before {
    background: #D1FADF;
    border-radius: 50%;
}

.plan-feature-row{
    background-image: url(./assets/Group\ 1171275314.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.plan-price-second-column .card-header{
    background: linear-gradient(90deg, #DE35FF 0%, #3A65FF 64%, #16F1FF 100%)!important;
    border-radius: 30px 30px 0 0!important;
}

.cta{
    background-color: #F6F6F9;
    padding: 80px 100px;
    margin: 50px 30px;
    border-radius: 30px;
    background-image: url(./assets/Group\ 1171275316.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
}


@media only screen and (max-width:1023px) {
    .large-logo{
        display: block!important;
    }
    .mobile-logo{
        display: none!important;
    }
    .section-introduction{
        min-height: 50vh;
        padding: 10px 0 30px 0;
        background-image: none!important;    
    }
    .section-introduction .container:first-of-type{
        height: 50vh;
    }
    .hero-header{
        font-size: 40px;
        text-align: center;
    }
    .section-introduction .hero-first-column{
        font-size: 20px;
        text-align: center;
        padding-right: 0px;
    }
    
    .section-introduction .hero-second-column{
        font-size: 20px;
        text-align: center;
        padding-right: 0;
    }
    .plan-price{
        padding: 30px 0;
    }
    h3{
        font-size: 40px!important;
    }
    .plan-sub-text{
        padding: 0!important;
    }
    
}

@media only screen and (max-width:767px) {
    .section-introduction {
        padding: 0!important;
        margin: 30px 0;
        background-image: none !important;
        min-height: unset;
    }
    .section-introduction .container:first-of-type {
        height: unset;
    }
    .section-introduction .hero-first-column{
        font-size: 18px;
    }
    
    .section-introduction .hero-second-column{
        font-size: 16px;
    }

}